body{
    padding: 100px 100px 100px 100px;
}
.topic-container{
    display: grid;
    grid-template-columns: auto auto auto;
    margin: center;

}

.btnTopic{
    width: 50%;
    height: 70px;
}

#gameBoard{
    display: grid;
    grid-template-columns: auto auto auto auto;
}

.btnCard{
    width: 100px;
    height: 70px;
    margin-bottom: 10px;
}